In [83]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [85]:
main = pd.read_csv("our_features_cleaned_revised.csv")
main.head()

,STU_ID,X1TXMTSCOR,X1PAREDU,X1SES,X1MTHINT,X1SCIINT,X2TXMTSCOR,X2PAREDU,X2BEHAVEIN,X2MTHINT_R,...,A1MSPRGMS,A1HRTEACHERS,A1HRSTUDENT,A1TCHRABSENT,A1PRNTINV,A1UNPREP,A1HEALTH,A1RESOURCES,C1PLANPARENT,C1SIGNOFF
0,10001,59.3710,5,1.5644,0.12,-0.23,68.6447,6,-2.17,-0.21,...,1,5,3,1,2,1,1,2,-7,-7
1,10002,47.6821,3,-0.3699,-9.00,-9.00,54.0863,4,0.61,-0.60,...,0,7,9,2,3,3,3,2,-9,-9
2,10003,64.2431,7,1.2741,0.86,0.93,55.6336,7,0.52,-1.39,...,1,15,5,2,2,2,2,2,1,0
3,10006,58.1268,3,1.0639,2.08,-7.00,53.9958,5,0.89,-7.00,...,0,3,6,-9,4,4,2,2,1,1
4,10007,49.4960,2,-0.4300,2.08,0.16,47.6403,2,0.39,-0.47,...,1,8,6,1,1,1,1,1,1,1

In [73]:
#dropping unecessary columns
df = main.copy()
df.drop('STU_ID', axis=1, inplace= True)

In [75]:
df

,X1TXMTSCOR,X1PAREDU,X1SES,X1MTHINT,X1SCIINT,X2TXMTSCOR,X2PAREDU,X2BEHAVEIN,X2MTHINT_R,X2SCIINT,...,S2INSCHSUSP,S2OUTSCHSUSP,S2DISCIPLINE,S2EXPELLED,S2ARRESTED,S2JUVHOME,A1MSMENTOR,A1MSSPEAKER,A1MSFLDTRIP,A1MSPRGMS
0,59.3710,5,1.5644,0.12,-0.23,68.6447,6,-2.17,-0.21,0.34,...,1,-7,-7,-7,-7,-7,1,1,1,1
1,47.6821,3,-0.3699,-9.00,-9.00,54.0863,4,0.61,-0.60,-0.83,...,1,-7,-7,-7,-7,-7,0,0,0,0
2,64.2431,7,1.2741,0.86,0.93,55.6336,7,0.52,-1.39,-1.61,...,1,-7,-7,-7,-7,-7,1,0,1,1
3,58.1268,3,1.0639,2.08,-7.00,53.9958,5,0.89,-7.00,-9.00,...,1,-7,-7,-7,-7,-7,0,1,0,0
4,49.4960,2,-0.4300,2.08,0.16,47.6403,2,0.39,-0.47,-1.19,...,1,-7,-7,-7,-7,-7,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,31.3275,-8,-0.9234,-7.00,-7.00,32.5609,1,1.21,0.96,1.08,...,1,-7,-7,-7,-7,-7,0,0,1,1
12584,60.1506,7,1.2033,0.55,0.49,60.9403,7,0.74,2.17,-9.00,...,1,-7,-7,-7,-7,-7,0,1,1,1
12585,49.7801,2,-0.0649,-0.96,-1.38,48.1044,2,0.89,0.31,1.44,...,1,-7,-7,-7,-7,-7,0,1,0,1
12586,61.3193,5,0.8512,-0.96,-0.23,50.2191,6,-0.23,-1.89,0.69,...,1,-7,-7,-7,-7,-7,1,1,1,1
12587,70.1347,5,1.6397,-9.00,-9.00,73.9119,6,-0.44,1.38,-0.83,...,1,-7,-7,-7,-7,-7,0,1,1,1

In [77]:
df.drop(['S2OUTSCHSUSP', 'S2DISCIPLINE', 'S2EXPELLED', 'S2ARRESTED', 'S2JUVHOME'], axis = 1, inplace = True)

In [81]:
# extracting x and y 
y = df['X5GPAALL']
X = df.drop('X5GPAALL', axis=1)
X = X.replace([-1, -3, -4, -6, -7, -8, -9], np.nan)
X

,X1TXMTSCOR,X1PAREDU,X1SES,X1MTHINT,X1SCIINT,X2TXMTSCOR,X2PAREDU,X2BEHAVEIN,X2MTHINT_R,X2SCIINT,...,S2ABSENT,S2WOHWDN,S2WOPAPER,S2WOBOOKS,S2SKIPCLASS,S2INSCHSUSP,A1MSMENTOR,A1MSSPEAKER,A1MSFLDTRIP,A1MSPRGMS
0,59.3710,5.0,1.5644,0.12,-0.23,68.6447,6.0,-2.17,-0.21,0.34,...,2.0,2.0,5.0,5.0,2.0,1.0,1.0,1.0,1.0,1.0
1,47.6821,3.0,-0.3699,NaN,NaN,54.0863,4.0,0.61,-0.60,-0.83,...,2.0,1.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,64.2431,7.0,1.2741,0.86,0.93,55.6336,7.0,0.52,-1.39,-1.61,...,2.0,3.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
3,58.1268,3.0,1.0639,2.08,NaN,53.9958,5.0,0.89,NaN,NaN,...,2.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
4,49.4960,2.0,-0.4300,2.08,0.16,47.6403,2.0,0.39,-0.47,-1.19,...,4.0,3.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,31.3275,NaN,-0.9234,NaN,NaN,32.5609,1.0,1.21,0.96,1.08,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
12584,60.1506,7.0,1.2033,0.55,0.49,60.9403,7.0,0.74,2.17,NaN,...,3.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
12585,49.7801,2.0,-0.0649,-0.96,-1.38,48.1044,2.0,0.89,0.31,1.44,...,2.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
12586,61.3193,5.0,0.8512,-0.96,-0.23,50.2191,6.0,-0.23,-1.89,0.69,...,3.0,3.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
12587,70.1347,5.0,1.6397,NaN,NaN,73.9119,6.0,-0.44,1.38,-0.83,...,2.0,5.0,2.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0