In [1]:
#imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('OneDrive/Desktop/all_our_features.csv')

In [23]:
display(df)       #######shape is 23503x54

,STU_ID,X1TXMTSCOR,X1PAREDU,X1SES,X1MTHINT,X1SCIINT,X2TXMTSCOR,X2PAREDU,X2BEHAVEIN,X2MTHINT_R,...,A1MSPRGMS,A1HRTEACHERS,A1HRSTUDENT,A1TCHRABSENT,A1PRNTINV,A1UNPREP,A1HEALTH,A1RESOURCES,C1PLANPARENT,C1SIGNOFF
0,10001,59.3710,5,1.5644,0.12,-0.23,68.6447,6,-2.17,-0.21,...,1,5,3,1,2,1,1,2,-7,-7
1,10002,47.6821,3,-0.3699,-9.00,-9.00,54.0863,4,0.61,-0.60,...,0,7,9,2,3,3,3,2,-9,-9
2,10003,64.2431,7,1.2741,0.86,0.93,55.6336,7,0.52,-1.39,...,1,15,5,2,2,2,2,2,1,0
3,10004,49.2690,4,0.5498,0.19,-0.67,-8.0000,4,-8.00,-8.00,...,1,-9,-9,2,3,2,2,2,-8,-8
4,10005,62.5897,4,0.1495,-0.96,-1.50,50.5818,5,1.21,-9.00,...,1,10,8,2,1,2,2,2,0,-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23498,35202,57.5729,-8,0.0205,-0.36,0.93,52.2326,4,-0.58,-7.00,...,0,25,10,3,4,3,2,2,1,0
23499,35203,46.0488,2,-1.2098,1.41,0.22,48.0447,2,0.87,-0.60,...,-9,10,10,2,3,2,2,2,1,1
23500,35204,49.7801,2,-0.0649,-0.96,-1.38,48.1044,2,0.89,0.31,...,1,5,5,1,1,2,1,2,1,0
23501,35205,61.3193,5,0.8512,-0.96,-0.23,50.2191,6,-0.23,-1.89,...,1,2,6,2,2,2,2,2,-7,-7
23502,35206,70.1347,5,1.6397,-9.00,-9.00,73.9119,6,-0.44,1.38,...,1,4,3,1,1,2,1,3,1,0

In [25]:
gpanomiss = df.copy()
# gpanomiss.loc[:, 'X5GPAALL'] = gpanomiss['X5GPAALL'].replace([-1, -3, -4, -6, -7, -8, -9], np.nan)
# gpanomiss['X5GPAALL'].isnull().sum()       
gpanomiss
gpanomiss['X5GPAALL'] = gpanomiss['X5GPAALL'].replace([-1, -3, -4, -6, -7, -8, -9], np.nan)
gpanomiss = gpanomiss.dropna(subset=['X5GPAALL'])
gpanomiss       ##### leaving us with a total of 12588 rows

,STU_ID,X1TXMTSCOR,X1PAREDU,X1SES,X1MTHINT,X1SCIINT,X2TXMTSCOR,X2PAREDU,X2BEHAVEIN,X2MTHINT_R,...,A1MSPRGMS,A1HRTEACHERS,A1HRSTUDENT,A1TCHRABSENT,A1PRNTINV,A1UNPREP,A1HEALTH,A1RESOURCES,C1PLANPARENT,C1SIGNOFF
0,10001,59.3710,5,1.5644,0.12,-0.23,68.6447,6,-2.17,-0.21,...,1,5,3,1,2,1,1,2,-7,-7
1,10002,47.6821,3,-0.3699,-9.00,-9.00,54.0863,4,0.61,-0.60,...,0,7,9,2,3,3,3,2,-9,-9
2,10003,64.2431,7,1.2741,0.86,0.93,55.6336,7,0.52,-1.39,...,1,15,5,2,2,2,2,2,1,0
5,10006,58.1268,3,1.0639,2.08,-7.00,53.9958,5,0.89,-7.00,...,0,3,6,-9,4,4,2,2,1,1
6,10007,49.4960,2,-0.4300,2.08,0.16,47.6403,2,0.39,-0.47,...,1,8,6,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23496,35199,31.3275,-8,-0.9234,-7.00,-7.00,32.5609,1,1.21,0.96,...,1,-9,-9,-9,-9,-9,-9,-9,-8,-8
23497,35200,60.1506,7,1.2033,0.55,0.49,60.9403,7,0.74,2.17,...,1,3,1,2,2,2,1,1,1,0
23500,35204,49.7801,2,-0.0649,-0.96,-1.38,48.1044,2,0.89,0.31,...,1,5,5,1,1,2,1,2,1,0
23501,35205,61.3193,5,0.8512,-0.96,-0.23,50.2191,6,-0.23,-1.89,...,1,2,6,2,2,2,2,2,-7,-7
23502,35206,70.1347,5,1.6397,-9.00,-9.00,73.9119,6,-0.44,1.38,...,1,4,3,1,1,2,1,3,1,0

In [190]:
#----------checking how many rows and columsn have these missing values
counts_rows = gpanomiss.isin([-1, -3, -4, -6, -7, -8, -9]).sum()
counts_cols = gpanomiss.isin([-1, -3, -4, -6, -7, -8, -9]).sum(axis=1)
print(counts_rows)
print(counts_cols)

STU_ID              0
X1TXMTSCOR        971
X1PAREDU         2829
X1SES             971
X1MTHINT         2242
X1SCIINT         3203
X2TXMTSCOR        837
X2PAREDU          724
X2BEHAVEIN       1143
X2MTHINT_R       2612
X2SCIINT         3145
X3TGPAHIMTH       705
X3TGPAHISCI       674
X3TGPAACAD        599
X3TGPASTEM        601
X4X2SES           724
X5GPAALL            0
S1GOODGRADES     1117
S1HRMHOMEWK      2051
S1HRSHOMEWK      2786
S1HROTHHOMWK     1264
S1HRACTIVITY     1290
S1HRTV           1262
S1HRVIDEO        1545
S1HRONLINE       1358
S2LATESCH         921
S2ABSENT          965
S2WOHWDN          951
S2WOPAPER         921
S2WOBOOKS         944
S2SKIPCLASS       943
S2INSCHSUSP       947
S2OUTSCHSUSP    12509
S2DISCIPLINE    12509
S2EXPELLED      12510
S2ARRESTED      12509
S2JUVHOME       12509
A1SCHCONTROL      684
A1MTHSCIFAIR     1729
A1MSSUMMER       1729
A1MSAFTERSCH     1729
A1MSMENTOR       1729
A1MSSPEAKER      1729
A1MSFLDTRIP      1729
A1MSPRGMS        1729
A1HRTEACHERS     2329
A1HRSTUDENT      2327
A1TCHRABSENT     2149
A1PRNTINV        2113
A1UNPREP         2160
A1HEALTH         2110
A1RESOURCES      2158
C1PLANPARENT     3758
C1SIGNOFF        4779
dtype: int64
0         7
1         9
2         5
5        10
6         5
         ..
23496    19
23497     6
23500     5
23501     7
23502    15
Length: 12588, dtype: int64

In [27]:
gdf = gpanomiss.copy()
# gdf.drop('STU_ID', axis=1, inplace = True)

In [7]:
#### for sending to group
gdf = gpanomiss.copy()

In [29]:

def gpa_clean(y):
    if y < 2.0:
        return 0
    elif 2.0 <=y < 3.0:
        return 1
    elif 3.0 <=y <3.5:
        return 2
    elif y >= 3.5:
        return 3
    else:
        return 'notinrange'

# Apply mapping
gdf['X5GPAALL'] = gdf['X5GPAALL'].map(gpa_clean)

In [39]:
gdf

gdf.to_csv("our_features_cleaned_revised.csv", index=False)

In [250]:
y = gdf['X5GPAALL']
print(y.value_counts())
  # check exact column names

X5GPAALL
1    4107
2    3164
3    2899
0    2418
Name: count, dtype: int64

In [252]:
X = gdf.drop('X5GPAALL', axis=1)
X

,X1TXMTSCOR,X1PAREDU,X1SES,X1MTHINT,X1SCIINT,X2TXMTSCOR,X2PAREDU,X2BEHAVEIN,X2MTHINT_R,X2SCIINT,...,A1MSPRGMS,A1HRTEACHERS,A1HRSTUDENT,A1TCHRABSENT,A1PRNTINV,A1UNPREP,A1HEALTH,A1RESOURCES,C1PLANPARENT,C1SIGNOFF
0,59.3710,5,1.5644,0.12,-0.23,68.6447,6,-2.17,-0.21,0.34,...,1,5,3,1,2,1,1,2,-7,-7
1,47.6821,3,-0.3699,-9.00,-9.00,54.0863,4,0.61,-0.60,-0.83,...,0,7,9,2,3,3,3,2,-9,-9
2,64.2431,7,1.2741,0.86,0.93,55.6336,7,0.52,-1.39,-1.61,...,1,15,5,2,2,2,2,2,1,0
5,58.1268,3,1.0639,2.08,-7.00,53.9958,5,0.89,-7.00,-9.00,...,0,3,6,-9,4,4,2,2,1,1
6,49.4960,2,-0.4300,2.08,0.16,47.6403,2,0.39,-0.47,-1.19,...,1,8,6,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23496,31.3275,-8,-0.9234,-7.00,-7.00,32.5609,1,1.21,0.96,1.08,...,1,-9,-9,-9,-9,-9,-9,-9,-8,-8
23497,60.1506,7,1.2033,0.55,0.49,60.9403,7,0.74,2.17,-9.00,...,1,3,1,2,2,2,1,1,1,0
23500,49.7801,2,-0.0649,-0.96,-1.38,48.1044,2,0.89,0.31,1.44,...,1,5,5,1,1,2,1,2,1,0
23501,61.3193,5,0.8512,-0.96,-0.23,50.2191,6,-0.23,-1.89,0.69,...,1,2,6,2,2,2,2,2,-7,-7
23502,70.1347,5,1.6397,-9.00,-9.00,73.9119,6,-0.44,1.38,-0.83,...,1,4,3,1,1,2,1,3,1,0

In [266]:
X = X.replace([-1, -3, -4, -6, -7, -8, -9], np.nan)

In [254]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state= 42)
# display(X_train)
# display(X_test)
# display(y_train)
# display(y_test)

In [260]:
imputer = SimpleImputer(strategy= "mean")

#fill in missing values using fit_transform for training set and transform for test set
X_train= imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [ ]:
#adding a column of ones to our transformed data and converting values to floats
X_train_final_elim = np.append(arr=np.ones((len(X_train_final), 1)), values = X_train_final, axis = 1)
X_train_final_elim = X_train_final_elim.astype("float64")

#assigning a list of features to a variable
feature_names = list(X_train_final.columns)

#creating an array of our feature indices, excluding intercept
my_features = np.array(range(1, X_train_final_elim.shape[1])) 

#creating loop to perform backward elimination on our training data
dropped_features = [] #initializing list to capture dropped features
while True:
    current_indices= np.insert(my_features, 0, 0) 
    X_sig = X_train_final_elim[:,current_indices]
    obj_OLS = sm.OLS(endog=y_train, exog=X_sig).fit() #fitting the model
    p_value = obj_OLS.pvalues 
    feature_p = p_value[1:] 
    max_p = feature_p.max() 
    if max_p > 0.05:
        drop_feature = np.argmax(feature_p)
        feature_to_drop = my_features[drop_feature]
        dropped_features.append(feature_names[feature_to_drop -1]) 
        my_features = np.delete(my_features, drop_feature) #dropping the feature with the highest p value
        print(f"Dropped column index {drop_feature} with p_value {max_p}") #keeping track of p value being dropped
    else:
        break

#selecting the features that were kept
selected_features = [feature_names[i-1] for i in my_features] 

print("\n")
print(f"The final selected features after backwards elimination are: {selected_features}")
print("\n")
print(f"The features that were dropped are: {dropped_features}")